<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>e2-inim-bala: {{}} entry</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.2.0/split.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='entry.css')}}" />
    </head>

    <body>

    </body>
</html>
